.Theater_Posters{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
   
}
.Poster_size{
    width: 288px;
    height: 432px;  
}
.arrow{
   font-size: 100px; 
   z-index: 1;
   color: white;
}

.ticket {
        background-image: url("../images/AMC Megaplex.jpg");
      }

.snack {
    background-image: url("../images/AMCPerfectlyPopcorn.jpg");
}
.text{
    color: white;
}
header{
    background-color: grey;
}
footer{
    background-color: grey;
}